 <html>
 <%-include('header') %>

<body style="background-color: rgb(255, 255, 255); height: 90vh;">
    <div class="regester">
        <div class="mes-regester">
            <h1>Welcome</h1>
            <h4>Select your role ! </h4>
        </div>
        <div class="btns-regester">
            <button id="studen-btn"><a href="/userStudent"> Student</a></button>
            <button id="admin-btn"><a href="/userAdmin"> Admin</a></button>
        </div>
    </div>

</body>
</html>
