 <%-include('header') %>
 <body style="height: 90vh;">
    <div class="correctMain" style="padding: 20px; margin: 100px auto; width: 270px; height: 300px;">
        <h3>Your Correct answer is : <b> <%= corrct %></b></h3>
        <br> 
        <h3>Your Incorrect answer is : <b><%= incorrct %></b></h3>
    </div>
 </body>